{{ define "content" }}
<form action="/pu/{{ .Path }}" method="post">
  <div class="form-row align-items-center justify-content-center">
    <div class="col-auto my-1">
      <select class="custom-select mr-sm-2 fc-4" id="scene" name="scene">
        <option selected>请选择场景</option>
        {{ range .SceneList }}
        <option value="{{ . }}">{{ . }}</option>
        {{ end }}
      </select>
    </div>
    <div class="col-auto my-1">
      <button type="submit" class="btn btn-primary fc-4">提交</button>
    </div>
  </div>
</form>
{{ end }}